<h2>Wallpapers!</h2>


<form class="form-inline md-form mr-auto mb-4">
  <input id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search Images" aria-label="Search"
         [(ngModel)]="imageName" [ngModelOptions]="{standalone: true}">
  <button mdbBtn size="sm" gradient="aqua" [rounded]="true" class="my-0 waves-light" mdbWavesEffect type="submit"
          (click)="updateSearched()">Search</button>
</form>


<app-file-images
  [files]="files | filter: searchedName | slice: page * pageSize : (page+1) * pageSize"
  [pages]="page"
  [search]="searchedName"
  (filteredFiles)="updateFilteredPage($event)"></app-file-images>

<mat-paginator
               class="paginator"
               [length]="pageLength"
               [pageIndex]=page
               [pageSize]="pageSize"
               aria-label="Select page"
               (page)="updatePage($event)">
</mat-paginator>




<app-add-files></app-add-files>
