.paginator {
  color: #D1E8E2;
  background-color: #2C3531;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  max-width: 330px;
  display: flex;
  align-items: center;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.form-inline #searchBar{
  color: #FFCB9A;
}

.form-inline ::placeholder{
  color: #D9B08C;
}
