<div [style.display]="showDelete ? 'block' : 'none'" class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="deleteModalLabel">Delete</h1>
      </div>
      <div class="modal-body">
        <h5>
          Are you sure you would like to delete this image?
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideDeleteEmit()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteFile()">Delete Image</button>
      </div>
    </div>
  </div>
</div>
